.item {
    width: 100%;
    margin: 10px;
    font-size: 14px;
}

.activeLink a {
    color: red;
}

.next {
    color: green;
    border-width: 9px 12px 90px 0;
}

.slickNext {
    background: red;
}
