@import 'normalize.css';
@import './style/colors.css';
@import '/node_modules/lato-font/css/lato-font.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

body {
    margin: 0;
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Lato';
}

h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
